Repository k0r37k1/pinecms: changes, and which Codecov flags are due for each by the changed paths.
All: php, javascript

codecov.yml:

# Codecov Configuration for PineCMS
# Documentation: https://docs.codecov.com/docs/codecov-yaml
# Last Updated: 2025-11-09

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes
    after_n_builds: 2  # Wait for both PHP and JS coverage

coverage:
  precision: 2
  round: down
  range: "70...100"  # Red at 70%, green at 100%

  status:
    project:
      default:
        target: 80%
        threshold: 2%  # Stricter threshold
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

    patch:
      default:
        target: 85%  # New code requires higher coverage
        threshold: 1%  # Very strict for new code
        base: auto
        if_ci_failed: error
        informational: false
        only_pulls: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      macro: no
      method: no

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

ignore:
  # Tests & Test Helpers
  - "tests/**/*"
  - "**/*.spec.js"
  - "**/*.test.js"
  - "**/*.spec.ts"
  - "**/*.test.ts"

  # Laravel Bootstrap & Framework
  - "bootstrap/**/*"
  - "config/**/*"  # Config files are hard to test
  - "storage/**/*"
  - "public/**/*"

  # Views (Blade templates - hard to test)
  - "resources/views/**/*"

  # Database
  - "database/factories/**/*"
  - "database/seeders/**/*"

  # Vendor
  - "vendor/**/*"
  - "node_modules/**/*"

  # Exception handlers (hard to test meaningfully)
  - "app/Exceptions/**/*"

  # Build Output
  - "coverage/**/*"
  - "dist/**/*"

  # Language Files
  - "lang/**/*"
  - "resources/lang/**/*"

flags:
  # PHP Backend Coverage
  php:
    paths:
      - app/
      - routes/
    carryforward: true
    # Require 80% coverage for PHP code
    target: 80%

  # JavaScript Frontend Coverage
  javascript:
    paths:
      - resources/js/
    carryforward: true
    # Require 75% coverage for JS code (frontend is harder to test)
    target: 75%

# Flag Management (auto-carryforward for incomplete builds)
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 85%

# GitHub Checks Configuration
github_checks:
  annotations: true

# Codecov AI Features (NEW 2024/2025)
ai:
  enabled: true
  # Let Codecov AI suggest coverage improvements

fix(e2e): update test selectors after adding input-id to PrimeVue Password
  tests/E2E/Installer/AdminUserWizard.spec.ts
Due: none

refactor: rename AdminUserWizard to InstallerWizard
  .claude/commands/build-and-fix.md
  .claude/commands/check.md
  .claude/commands/commit.md
  .claude/commands/plan.md
  .claude/commands/pr-ready.md
  .claude/commands/quality.md
  .claude/hooks/README.md
  .claude/hooks/pre-commit-check.php
  .claude/settings.local.json
  .claude/workflows/tdd.md
  app/Http/Controllers/Installer/AdminUserController.php
  nginx.conf.example
  public/build/assets/AdminUserWizard-CeR4pP6i.js
  public/build/assets/InstallerWizard-DtMqH3NW.js
  public/build/assets/Welcome-C6VTIUWV.js
  public/build/assets/Welcome-CSYxme84.js
  public/build/assets/app-BsBMzg3M.js
  public/build/assets/app-D3VmtTFB.js
  public/build/manifest.json
  resources/js/Pages/Installer/InstallerWizard.vue
  routes/installer.php
  tests/E2E/Installer/InstallerWizard.spec.ts
  tests/Feature/Installer/AdminUserControllerTest.php
  tests/Feature/Installer/Integration/CompleteInstallerFlowTest.php
Due: php, javascript

fix(installer): enable Inertia redirects for wizard form submission
  app/Http/Controllers/Installer/AdminUserController.php
  bootstrap/app.php
  nginx.conf.example
  public/build/assets/InstallerWizard-BSYtgHE6.js
  public/build/assets/InstallerWizard-DtMqH3NW.js
  public/build/assets/Welcome-C6VTIUWV.js
  public/build/assets/Welcome-DRejI9xK.js
  public/build/assets/app-BK1si36u.js
  public/build/assets/app-BsBMzg3M.js
  public/build/manifest.json
  resources/js/Pages/Installer/InstallerWizard.vue
  routes/installer.php
Due: php, javascript

fix(installer): use Inertia::location() for external redirect to admin login
  app/Http/Controllers/Installer/AdminUserController.php
Due: php

fix(installer): differentiate Inertia requests from pure JSON API requests
  app/Http/Controllers/Installer/AdminUserController.php
Due: php

chore(installer): add temporary debug logging for redirect diagnosis
  app/Http/Controllers/Installer/AdminUserController.php
Due: php

refactor(installer): simplify request type logic with explicit X-Inertia check
  app/Http/Controllers/Installer/AdminUserController.php
Due: php

fix(installer): use absolute URL for Inertia external redirect
  app/Http/Controllers/Installer/AdminUserController.php
Due: php

fix(installer): use regular redirect instead of Inertia::location()
  app/Http/Controllers/Installer/AdminUserController.php
Due: php

fix(installer): correct login redirect route from /admin/login to /login
  app/Http/Controllers/Installer/AdminUserController.php
Due: php

test(e2e): update installer wizard tests to expect /login route
  resources/js/Pages/Installer/InstallerWizard.vue
  tests/E2E/Installer/InstallerWizard.spec.ts
Due: javascript

revert(installer): change redirect back to /admin/login
  app/Http/Controllers/Installer/AdminUserController.php
  resources/js/Pages/Installer/InstallerWizard.vue
  tests/E2E/Installer/InstallerWizard.spec.ts
Due: php, javascript

fix: address CodeRabbit security and performance issues
  .claude/hooks/pre-commit-check.php
  app/Http/Controllers/Installer/UnlockController.php
  bootstrap/app.php
  config/hashing.php
  tests/E2E/Installer/InstallerWizard.spec.ts
  tests/Feature/Installer/Integration/CompleteInstallerFlowTest.php
Due: php

fix(installer): add PHPStan ignore for intentional env() usage
  app/Http/Controllers/Installer/UnlockController.php
Due: php

fix(tests): use array cache driver in RunScheduledTasksTest
  tests/Unit/Http/Middleware/RunScheduledTasksTest.php
Due: none

chore: move documentation to external repository
  .gitignore
  docs/completion/006-post-install-cleanup.completion.md
  docs/completion/007-cron-detection.completion.md
  docs/completion/2025-11-09-task-001-completion.md
  docs/completion/2025-11-09-task-002-completion.md
  docs/completion/2025-11-09-task-003-completion.md
  docs/completion/2025-11-10-task-004-completion.md
  docs/completion/2025-11-10-task-005-completion.md
  docs/completion/2025-11-11-task-008-completion.md
  docs/guides/PLUGIN_DEVELOPMENT.md
  docs/meta/DOCUMENTATION_STATUS.md
  docs/meta/SPELL_CHECKING.md
  docs/planning/CORE_FEATURES.md
  docs/planning/OFFICIAL_PLUGINS.md
  docs/planning/ROADMAP.md
  docs/plans/2025-11-09-pinecms-task-system-design.md
  docs/plans/2025-11-11-installer-e2e-tests-design.md
  docs/plans/2025-11-11-task-008-implementation-plan.md
  docs/prd/00-INDEX.md
  docs/prd/01-PRODUCT-VISION.md
  docs/prd/02-COMPETITIVE-ANALYSIS.md
  docs/prd/03-USER-RESEARCH.md
  docs/prd/04-ARCHITECTURE.md
  docs/prd/05-CORE-FEATURES.md
  docs/prd/06-PLUGIN-ECOSYSTEM.md
  docs/prd/07-TECHNICAL-SPECIFICATIONS.md
  docs/prd/08-UX-UI-DESIGN.md
  docs/prd/09-QUALITY-REQUIREMENTS.md
  docs/prd/10-RELEASE-ROADMAP.md
  docs/prd/11-APPENDICES.md
  docs/specifications/FEATURES.md
Due: none

chore: remove settings.local.json from repository
  .claude/settings.local.json
Due: none

chore: remove branch protection documentation
  .claude/workflows/git-workflow.md
  .github/BRANCH_PROTECTION.md
Due: none

chore: remove Cursor IDE configuration files
  .cursor/mcp.json
  .cursor/rules/laravel-boost.mdc
  nginx.conf.example
Due: none

chore(gitignore): add security-critical patterns from industry analysis
  .gitignore
Due: none

docs(readme): add AI-assisted development section
  README.md
Due: none

refactor(gitignore): remove redundant duplicate patterns
  .gitignore
Due: none

fix(security): update symfony/http-foundation to v7.3.7
  composer.lock
Due: none

chore(deps): update npm and composer dependencies
  composer.lock
  package-lock.json
Due: none

chore(ci): remove Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

refactor(ci): rename tests.yml to ci.yml for clarity
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none
