Repository k0r37k1/pinecms: changes, and which Codecov flags are due for each by the changed paths.
All: php, javascript

test(installer): create WebServerController feature test skeleton
  tests/Feature/Installer/WebServerControllerTest.php
Due: none

test(installer): add WebServerController API endpoint tests (RED)
  tests/Feature/Installer/WebServerControllerTest.php
Due: none

test(installer): add WebServerController API endpoint tests (RED)
  phpstan-baseline.neon
  public/.htaccess
  public/build/assets/AdminUserWizard-CGW0NIEr.js
  public/build/assets/Welcome-MNmkY-1-.js
  public/build/assets/app-CL7mmbVu.js
  public/build/assets/app-D-ISyz0f.css
  public/build/assets/inertia-CDj1Mb7q.js
  public/build/assets/vue-vendor-Ccyn2ehD.js
Due: none

test(installer): add SSL validation tests (RED - 8 feature tests)
  tests/Feature/Installer/WebServerControllerTest.php
Due: none

chore(phpstan): update baseline for WebServerController test assertions
  phpstan-baseline.neon
Due: none

feat(installer): implement WebServerController (GREEN - pending routes)
  app/Http/Controllers/Installer/WebServerController.php
Due: php

feat(installer): add web server configuration routes (GREEN)
  routes/installer.php
  tests/Feature/Installer/WebServerControllerTest.php
Due: php

docs(installer): add Task 005 completion document
  docs/completion/2025-11-10-task-005-completion.md
Due: none

fix(tests): remove obsolete RED-phase test for CreateAdminUserRequest
  tests/Feature/Installer/CreateAdminUserRequestTest.php
Due: none

fix(tests): remove obsolete CreateAdminUserRequestTest file
  tests/Feature/Installer/CreateAdminUserRequestTest.php
Due: none

feat(installer): implement Post-Install Cleanup & Lock (Task 006)
  app/Http/Controllers/Installer/CleanupController.php
  app/Http/Middleware/PreventInstalledAccess.php
  app/Services/Installer/PostInstallCleanup.php
  config/app.php
  routes/installer.php
  tests/Unit/Http/Middleware/PreventInstalledAccessTest.php
  tests/Unit/Services/Installer/PostInstallCleanupTest.php
Due: php

feat(installer): implement Task 007 - Cron Detection & Scheduler Setup
  app/Http/Controllers/Installer/CronController.php
  app/Http/Middleware/RunScheduledTasks.php
  app/Http/Requests/Installer/SetSchedulerModeRequest.php
  app/Services/Installer/CronDetector.php
  bootstrap/app.php
  config/app.php
  routes/installer.php
  tests/Feature/Http/Controllers/Installer/CronControllerTest.php
  tests/Unit/Http/Middleware/RunScheduledTasksTest.php
  tests/Unit/Services/Installer/CronDetectorTest.php
Due: php

docs(completion): add completion reports for Tasks 006 and 007
  docs/completion/006-post-install-cleanup.completion.md
  docs/completion/007-cron-detection.completion.md
Due: none

chore(phpstan): regenerate baseline for Level 8 compliance
  docs/completion/006-post-install-cleanup.completion.md
  docs/completion/007-cron-detection.completion.md
  phpstan-baseline.neon
Due: none

refactor(installer): fix Deptrac violation in CreateAdminUserRequest
  app/Http/Requests/Installer/CreateAdminUserRequest.php
Due: php

chore(composer): increase process timeout for test coverage
  composer.json
Due: none

fix(tests): resolve SQLite database locking issues
  .claude/hooks/user-prompt-submit.php
  .claude/settings.local.json
  composer.lock
  config/database.php
  dictionaries/custom-words.txt
  package-lock.json
  tests/Feature/Installer/AdminUserControllerTest.php
  tests/TestCase.php
Due: none

fix(tests): ensure database file exists for in-memory override
  tests/TestCase.php
Due: none

docs(installer): improve PHPDoc coverage and refactor password validation
  app/Http/Controllers/Installer/AdminUserController.php
  app/Http/Requests/Installer/CreateAdminUserRequest.php
  app/Services/Installer/AdminUserCreator.php
  dictionaries/custom-words.txt
Due: php

test: remove obsolete Laravel example tests
  phpstan-baseline.neon
  tests/Feature/ExampleTest.php
  tests/Unit/ExampleTest.php
Due: none

docs(installer): add E2E tests design document for Task 008
  docs/plans/2025-11-11-installer-e2e-tests-design.md
Due: none

docs(installer): add detailed implementation plan for Task 008
  docs/plans/2025-11-11-task-008-implementation-plan.md
Due: none

test(installer): add UnlockController for E2E test isolation
  app/Http/Controllers/Installer/UnlockController.php
  routes/installer.php
  tests/Feature/Installer/UnlockControllerTest.php
Due: php

feat(config): add testing mode configuration key
  config/app.php
Due: none

feat(installer): add UnlockController for E2E test isolation
  app/Http/Controllers/Installer/UnlockController.php
  routes/installer.php
Due: php

test(installer): add comprehensive integration tests
  tests/Feature/Installer/Integration/CompleteInstallerFlowTest.php
  tests/Feature/Installer/UnlockControllerTest.php
Due: none

test(installer): add Playwright E2E tests for AdminUserWizard
  package.json
  tests/E2E/Installer/ARCHITECTURE.md
  tests/E2E/Installer/AdminUserWizard.spec.ts
  tests/E2E/Installer/QUICK-START.md
  tests/E2E/Installer/README.md
  tests/E2E/Installer/SUMMARY.md
  tsconfig.json
Due: none

docs(completion): add Task 008 completion report
  .claude/settings.local.json
  dictionaries/custom-words.txt
  docs/completion/2025-11-11-task-008-completion.md
  nginx.conf.example
Due: none

chore(config): add dictionary management permissions
  .claude/settings.local.json
Due: none

fix(installer): respect BCRYPT_ROUNDS config in testing environment
  app/Services/Installer/AdminUserCreator.php
Due: php

fix(tests): use dynamic bcrypt cost assertion in tests
  tests/Feature/Installer/AdminUserControllerTest.php
  tests/Unit/Services/Installer/AdminUserCreatorTest.php
Due: none

test(ci): exclude CI-incompatible integration test
  .github/workflows/tests.yml
  tests/Feature/Installer/Integration/CompleteInstallerFlowTest.php
Due: none

test: implement CI environment check for installer flow test
  .github/workflows/tests.yml
  tests/Feature/Installer/Integration/CompleteInstallerFlowTest.php
Due: none

fix(ci): ensure installer is accessible for E2E tests
  .github/workflows/tests.yml
Due: none

fix(e2e): use toBeAttached instead of toBeVisible for progress bar
  tests/E2E/Installer/AdminUserWizard.spec.ts
Due: none

fix(e2e): fix database file mismatch and add explicit waits
  .github/workflows/tests.yml
  tests/E2E/Installer/AdminUserWizard.spec.ts
Due: none

fix(e2e): wait for networkidle after step navigation
  tests/E2E/Installer/AdminUserWizard.spec.ts
Due: none

fix(e2e): wait for Step 2 container before password input
  tests/E2E/Installer/AdminUserWizard.spec.ts
Due: none

fix(e2e): add input-id props to PrimeVue Password components
  public/build/assets/AdminUserWizard-CGW0NIEr.js
  public/build/assets/AdminUserWizard-CeR4pP6i.js
  public/build/assets/Welcome-CSYxme84.js
  public/build/assets/Welcome-CZVOFTDP.js
  public/build/assets/Welcome-MNmkY-1-.js
  public/build/assets/app-Brm1IA7v.css
  public/build/assets/app-CL7mmbVu.js
  public/build/assets/app-D-ISyz0f.css
  public/build/assets/app-D3VmtTFB.js
  public/build/assets/app-D5QzjInT.js
  public/build/assets/app-DYgdrtf0.css
  public/build/assets/inertia-B2L-qlpJ.js
  public/build/assets/inertia-CDj1Mb7q.js
  public/build/assets/inertia-CePCq7aQ.js
  public/build/assets/vue-vendor-Ccyn2ehD.js
  public/build/assets/vue-vendor-DOQMAEQg.js
  public/build/assets/vue-vendor-DpPUlqAD.js
  public/build/manifest.json
  resources/js/Pages/Installer/AdminUserWizard.vue
Due: javascript

Path conditions:
  php: any of: app/, routes/, but not: tests/**/*, **/*.spec.js, **/*.test.js, **/*.spec.ts, **/*.test.ts, bootstrap/**/*, config/**/*, storage/**/*, public/**/*, resources/views/**/*, database/factories/**/*, database/seeders/**/*, vendor/**/*, node_modules/**/*, app/Exceptions/**/*, coverage/**/*, dist/**/*, lang/**/*, resources/lang/**/*
  javascript: any of: resources/js/, but not: tests/**/*, **/*.spec.js, **/*.test.js, **/*.spec.ts, **/*.test.ts, bootstrap/**/*, config/**/*, storage/**/*, public/**/*, resources/views/**/*, database/factories/**/*, database/seeders/**/*, vendor/**/*, node_modules/**/*, app/Exceptions/**/*, coverage/**/*, dist/**/*, lang/**/*, resources/lang/**/*
